<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Order_Suite">
  <test thread-count="5" name="ServiseSideTest">
    <classes>
		<class name="flutter.Truvideo.Tests.DealerCodePageTest_Order"/>
		<class name="flutter.Truvideo.Tests.UserListPageTest_Order"/>
		<class name="flutter.Truvideo.Tests.RO_ListPageTest"/>
		<class name="flutter.Truvideo.Tests.AddOrderPageTest"/>
		<class name="flutter.Truvideo.Tests.OrderDetailsPageTest"/>
		<class name="flutter.Truvideo.Tests.ContactsListPageTest_Order"/>
		<class name="flutter.Truvideo.Tests.MessagesListPageTest_Order"/>
		<class name="flutter.Truvideo.Tests.MessagingScreenTest_Order"/>
		<class name="flutter.Truvideo.Tests.ChatListPageTest_Order"/>
		<class name="flutter.Truvideo.Tests.SettingPageTest_Order"/>
		<class name="flutter.Truvideo.Tests.SupportPageTest_Order"/>
		<class name="flutter.Truvideo.Tests.ProfileIconScreenTest_Order"/>
		<!--<class name="flutter.Truvideo.Tests."/>
		<class name="flutter.Truvideo.Tests."/>
		<class name="flutter.Truvideo.Tests."/>
		<class name="flutter.Truvideo.Tests."/>-->
    </classes>
  </test> 
</suite> 
